* {
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: aliceblue;
    font-family: 'Jost', sans-serif;
}

body {
    background-image: url(dredge.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 30px;
}

.mi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
}

#js {
    font-size: 100px;
    color: yellow;
}

#html {
    color: rgb(223, 75, 7);
    font-size: 100px;
}

#css {
    font-size: 100px;
    color: #176cce;
}

.mi2 {
    width: 80%;
    flex-wrap: wrap;
}

.skills {
    gap: 20px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.img2 {
    width: 360px;
    height: auto;
    transition: .3s;
    box-shadow: 2px 2px 20px #176cce;
    cursor: pointer;
}

.img {
    width: 240px;
    min-width: 140px;
    height: 160px;
    cursor: pointer;
    transition: .3s;
    border-radius: 8px;
}

.skills2 {
    height: 160vh;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
    transition: .3s;
    background-color: rgba(0, 0, 0, 0.5);
}

.close-img {
    display: flex;
    position: relative;
    top: -170px;
    left: 10px;
    cursor: pointer;
    transition: .3s;
}

.skills2-active {
    display: flex;
    transition: .3s;
}

.img3 {
    width: 660px;
    height: auto;
    transition: .3s;
}

.img:hover {
    transform: scale(1.1);
}

footer {
    padding: 20px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

footer .li {
    list-style: none;
}

footer a {
    color: #019af3;
    font-size: 18px;
}

.a2 {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.container {
    height: auto;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.link {
    color: #01bcf3;
    font-size: 34px;
    margin: 6px;
    transition: .3s;
}

.link:hover {
    color: #2079ec;
    scale: 1.3;
    transition: .3s;
}

@media (max-width:860px) {

    .left{
        text-align: left;
        margin: 30px auto;
    }

    .skills2-active {
        display: none;
    }
}

@media (max-width:768px) {

    .img2:hover {
        scale: none;
    }

    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .img {
        min-width: 140px;
        min-height: auto;
        width: 100%;
    }
}

@media (max-width:480px) {
    .skills {
        width: 100%;
    }

    .enlaces {
        width: 45%;
    }
}