* {
    margin: 0;
    padding: 0;
}

.fondo {
    background-image: url(custom_resized_580a65e7-20dd-4259-aa7d-95ad0f0f63cc.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: 'Jost', sans-serif;
}

main {
    margin: 0 auto;
    height: auto;
}

h1 {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 60px;
}

.mi {
    height: auto;
    color: aliceblue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
}

#js {
    font-size: 100px;
    color: yellow;
}

#html {
    color: rgb(223, 75, 7);
    font-size: 100px;
}

#css {
    font-size: 100px;
    color: #176cce;
}

.encabezado2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.mi2 {
    width: 80%;
    flex-wrap: wrap;
}

.skills {
    margin: 15px auto;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.encabezado3 {
    margin-bottom: 12px;
}

.img2 {
    width: 360px;
    height: auto;
    transition: .5s;
    box-shadow: 2px 2px 20px #42617c;
    cursor: pointer;
}

.img {
    width: 240px;
    min-width: 140px;
    height: 160px;
    cursor: pointer;
    transition: .5s;
    border-radius: 5px;
}

.skills2 {
    height: 160vh;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
    transition: .3s;
    background-color: rgba(0, 0, 0, 0.5);
}

.close-img {
    display: flex;
    position: relative;
    top: -170px;
    left: 10px;
    cursor: pointer;
    transition: .3s;
}

.skills2-active {
    display: flex;
    transition: .3s;
}

.img3 {
    width: 660px;
    height: auto;
    transition: .3s;
}

.img:hover {
    transform: scale(1.1);
}

footer {
    float: inherit;
    padding: 16px;
    margin-top: 30px;
}

footer .li {
    list-style: none;
}

footer a {
    color: #019af3;
    font-size: 18px;
}

.a2 {
    color: aliceblue;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.container {
    height: auto;
    width: 100%;
    gap: 20px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pro {
    color: aliceblue;
}

.link {
    color: #01bcf3;
    font-size: 34px;
    margin-left: 10px;
    transition: .6s;
}

.link:hover {
    color: #2079ec;
    scale: 1.3;
    transition: .6s;
}

@media (max-width:860px) {
    .container {
        width: 80%;
    }

    .skills2-active {
        display: none;
    }
}

@media (max-width:768px) {

    .container {
        width: 100%;
    }

    .img {
        width: 100%;
    }

    .img2:hover {
        scale: 1.2;
    }

    .img {
        min-width: 140px;
        min-height: auto;
    }
}

@media (max-width:480px) {
    .skills{
        width: 90%;
    }
    .img2 {
        width: 100%;
    }
    .container {
        width: 100%;
        grid-template-columns: repeat(1, auto);
    }

    .img2:hover {
        scale: none;
    }
}